<h1>Edit a route: </h1>

<form  action="/routes/<%= @route.id%>" method="post">

  <label for = "description">Description:</label>
  <input value="<%=@route.description%>" type = "text" name = "description" id="description"/>

  <label for = "difficulty">Difficulty:</label>
  <input value="<%=@route.difficulty()%>" type = "text" name="difficulty" id="difficulty"></input>

  <label for = "hint">Hint:</label>
  <textarea name = "hint" cols="40" rows="5" id="hint"><%=@route.hint%></textarea>

  <label for = "img_link">Link to Image:</label>
  <input value="<%=@route.img_link%>" type = "text" name = "img_link" id="img-link"/>

  <input type="submit" value="Edit Route">

</form>
