
<h2>Selected Route:</h2>
  <p>Description: <%= @route.description() %></p>
  <p>Difficulty: V<%= @route.difficulty() %></p>
  <p>Hint: <%= @route.hint() %></p>
  <form method="post" action="/routes/<%=@route.id%>/delete">
    <button>Delete Route</button>
  </form>
  <form method="get" action="/routes/<%=@route.id%>/edit">
    <button>Edit Route</button>
    <h2>Leaderboard:</h2>
  <table>
    <tr>
      <th>Climber Name</th>
      <th>Attempts Taken</th>
      <th>Climber Review</th>
    </tr>
    <% for info in @climbers_and_attempts  %>
    <tr>
      <td><a href="/climbers/<%=info['id']%>"><%=info['name']%></a></td>
      <td><%=info['attempts_taken']%></td>
      <td><a href="/climbs/<%=info['c_id']%>">Review</a></td>
    </tr>
    <% end %>
    <hr/>
