
<h2 class="title-container">Selected Climber</h2>
<div class="content-area-container">
  <div class="entry-area">
    <div class="content-container">
      <img src="climber-generic.jpg>" alt="Image of climber" class="content-img-box">
      <div class="container-boxes">
        <p class="content-box">Name: <%= @climber.name() %></p>
        <p class="content-box">Profile: <%= @climber.profile() %></p>
        <form method="post" action="/climbers/<%= @climber.id %>/delete" class="content-box">
          <button>Delete User Profile</button>
        </form>
        <form method="get" action="/climbers/<%= @climber.id %>/edit" class="content-box">
          <button>Edit User Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>
<h2 class="title-container">Successful Climbs</h2>
<div class="content-area-container">
<table>
  <tr>
    <th>Route Description</th>
    <th>Difficulty</th>
    <th>Attemps Taken</th>
    <th>Climber Review</th>
  </tr>
  <% for info in @routes_and_attempts  %>
  <tr>
    <td><a href="/routes/<%=info['id']%>"><%=info['description']%></a></td>
    <td><a href="/routes/<%=info['id']%>"><%=info['difficulty']%></a></td>
    <td><%=info['attempts_taken']%></td>
    <td><a href="/climbs/<%=info['c_id']%>">Review</a></td>
  </tr>
  <% end %>
</div>
