
<h2>Selected Climb:</h2>
  <p>Climber Name: <%= @climber.name() %></p>
  <p>Route Description: <%= @route.description() %></p>
  <p>Route Difficulty: <%= @route.difficulty() %></p>
  <p>Attempts Taken: <%= @climb.attempts_taken() %></p>
  <p>Review: <%= @climb.review() %></p>
  <hr/>
