
<h2>Selected Climb:</h2>
  <p>Climber Name: <a href="/climbers/<%=@climber.id()%>"><%= @climber.name() %></a></p>
  <p>Route Description: <a href="/routes/<%=@route.id()%>"><%= @route.description() %></a></p>
  <p>Route Difficulty: V<%= @route.difficulty() %></p>
  <p>Attempts Taken: <%= @climb.attempts_taken() %></p>
  <p>Review: <%= @climb.review() %></p>
  <form method="post" action="/climbs/<%= @climb.id %>/delete">
    <button>Delete Climb Information</button>
  </form>
  <form method="get" action="/climbs/<%= @climb.id %>/edit">
    <button>Edit Climb Information</button>
  </form>
  <hr/>
